<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ИС «Супермаркет»</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h1>ИС «Супермаркет»</h1>
        <nav>
            <a href="{{ url_for('menu') }}">Главное меню</a>
            {% if 'queries' in session.get('user', {}).get('permissions', []) %}
                <a href="{{ url_for('query.index') }}">Параметризованный запрос</a>
            {% endif %}
            {% if session.get('user') %}
                <span class="user-info">{{ session['user']['login'] }} ({{ session['user']['role'] }})</span>
                <a href="{{ url_for('auth.logout') }}">Выход</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Войти</a>
            {% endif %}
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <small>Китляров</small>
    </footer>
</body>
</html>
